{% extends "base.html" %}

{% block content %}

<div class="row mt-4">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <h4 align="left">{{ user.name }}</h4>
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col">
                    <h5 class="card-title">Немного о себе</h5>
                    <p class="card-text">{{ user.about}}</p>
                    {% if user.id == current_user.id %}
                            <a href="/news" class="btn btn-secondary">Добавить новость</a>
                    {% endif %}
                </div>
                <div class="col text-right">
                    <img class="mr-3" src="{{user.avatar(100)}}" alt="">
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
      {% if news.count() > 0 %}
          {% for item in news%}
            {% include 'post.html' %}
          {% endfor %}
      {% else %}
        <div class="alert alert-danger mt-3">Записи не найдены</div>
      {% endif %}
    </div>
</div>
{% endblock %}